<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each photos}}
        <img src="{{this.imageUrl}}" alt="" class="swiper-slide">
        {{/each}}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
     <!-- Add Arrows -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>  
  </div>

  


