<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <title>ImSite</title>
</head>

<body>
    <!--Navigation-->
    {{> navigation }}
    <div class="container p-4">
        {{{body}}}
    </div>

</body>

</html>